@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Add plugins */
@plugin "tailwindcss-text-fill-stroke";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-covgrace: var(--font-covgrace);
  --font-montserrat: var(--font-montserrat);
  --font-lexpeta: var(--font-lexpeta);
  --font-poppins: var(--font-poppins);
  --tracking-tightest: -0.1em;
  --shadow-spread: 0px 0px 30px #000;
  --text-shadow-10: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
